body{
	font-family:verdana;
background-color:D7BAAD;
}
.wrap
{
margin:50px auto;
width:80%;
padding:8px;
}
.img1
{
text-align:justify;
font-family:verdana;
margin:150px auto;
width:50%;
padding:8px;
}
.img2
{
text-align:justify;
font-family:verdana;
margin:150px auto;
width:50%;
padding:8px;
}
.img3
{
text-align:justify;
font-family:verdana;
margin:150px auto;
width:50%;
padding:8px;
}
.img4
{
text-align:justify;
font-family:verdana;
margin:150px auto;
width:50%;
padding:8px;
}
.img5
{
text-align:justify;
font-family:verdana;
margin:150px auto;
width:50%;
padding:8px;
}
.img6
{
text-align:justify;
font-family:verdana;
margin:150px auto;
width:50%;
padding:8px;
}
.img7
{
text-align:justify;
font-family:verdana;
margin:150px auto;
width:50%;
padding:8px;
}

