body{
	margin:0;
	padding:0;
	font-family:Century Gothics;
}
.header{
	height:100vh;
	width:100%;
	background:url("blue.jpeg")no-repeat;
	background-size:cover;
	background-position:center;
}
.main{
	width:50%;
	background:rgba(106,90,205);
	color:#ffffff;
	text-align:center;
	padding:60px;
	position:absolute;
	top:3%;
	left:20%;
	
}