*
{
	margin:0;
	padding: 0;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;
}
table{
	position:absolute;
	top:20%;
	left:25%;
	}
	h2{
	color: #6EC3C7;	
	image-spacing: 2px	
	}
