body
{
	margin:0;
	padding:0;
	position: absolute;
    width:100%;
    height:100%;
	background: linear-gradient(90deg,rgba(2,0,0.6,1) 0%,rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}
.box{
	position: absolute;
	width:60px;
    height:60px;
    background-color:transparent;
    border: 6px solid rgba(255,255,255,0.8)
}
.box div: nth-child(1){
	top:12%;
	left:42%;
	animation: animate 10s line-infinite;
}
.box div: nth-child(2){
	top:70%;
	left:50%;
	animation: animate 7s line-infinite;
}
.box div: nth-child(3){
	top:17%;
	left:6%;
	animation: animate 9s line-infinite;
}
.box div: nth-child(4){
	top:20%;
	left:60%;
	animation: animate 10s line-infinite;
}
.box div: nth-child(5){
	top:67%;
	left:10%;
	animation: animate 6s line-infinite;
}
.box div: nth-child(6){
	top:80%;
	left:70%;
	animation: animate 12s line-infinite;
}
.box div: nth-child(7){
	top:60%;
	left:80%;
	animation: animate 15s line-infinite;
}
.box div: nth-child(8){
	top:32%;
	left:25%;
	animation: animate 16s line-infinite;
}
.box div: nth-child(9){
	top:90%;
	left:25%;
	animation: animate 9s line-infinite;
}
.box div: nth-child(10){
	top:20%;
	left:80%;
	animation: animate 5s line-infinite;
}
.services
{
	margin:110px auto;
	text-align:center;
}
h1
{
font-family:sans serif;
letter-spacing:1px;
color:#fff;
}
h1:after
{
	content:'';
	background:white;
	display:block;
	width:150px;
	height:3px;
	margin:10px auto;
}
h2{
	color:#fff;
}
pre{
	color:#fff;
}
table{
	position: absolute;
	top: 40%;
	font-family:sans serif;
letter-spacing:2px;
	}
.col-md-3:hover{
	box-shadow: 5px 7px 9px -3px rgba(255,255,255,0.5);
	cursor: pointer;
}
