*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body{background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(CH5.jpg);
height: 100vh;
background-size: cover;
background-position: center;

}
ul{	float: right;
margin-top: 25px;
}
ul li{
display: inline-block;
}
ul li a{
	text-decoration: none;
color: #00FFFF;
padding: 5px 20px;
border: 1px solid transparent;
}
ul li a:hover{
background-color: #527C88;
color: #FFC300;
}
ul li.active a{
background-color: #527C88;
color: #FFC300;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
	}
.title{	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
font-size: 70px;
color: #10217D;
}
.button{
    position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #000;
	padding: 10px  30px;
	color: #2196f3;
	text-transform:uppercase;
	overflow:hidden;
	transition:0.2s;
	text-decoration: none;
    font-size: 30px
}
.btn:hover{
	background-color:#2196f3;
    color: #255784;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay:0;
}
.facebook{
position:absolute;
bottom:10px;
left:60px;
	
}
.video{
position:absolute;
bottom:160px;
left:60px;
	
}


